*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    font-family: "Karla";
    height: 100%;
    background: hsl(204, 43%, 93%);
}

main{
    width: 90%;
}

/* JOIN SECTION */
.join-section{
    padding: 2rem 1.6rem 3rem 1.6rem;
    background: #ffffff;
}

.join-section__main-heading{
    color: hsl(179, 62%, 43%);
}

.join-section__p--highlighted{
    color: hsl(71, 73%, 54%);
    font-weight: 700;
    width: 90%;
    margin: 1.8rem 0 1.5rem 0; 
}

.join-section__p{
    line-height: 1.8;
    max-width: 50rem;
    color: hsl(218, 22%, 67%);
}

/* BOTTOM SECTIONS */
.subscription-section,
.why-us-section{
    padding: 2rem 2.3rem;
    color: rgba(255, 255, 255, 0.9);
}
/* SUBSCRIPTION SECTION */
.subscription-section{
    background-color: hsl(179, 62%, 43%);
}

.subscription-section__pricing{
    margin: 1.5rem 0 0.8rem 0;
}

.subscription-section__pricing--big{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 8px;
}

.subscription-section__pricing--light{
    opacity: 0.7;
}

.subscription-section__cta{
    background-color: hsl(71, 73%, 54%);
    border: none;
    border-radius: 6px;
    color: #ffffff;
    font-family: "karla";
    font-size: 1rem;
    font-weight: 700;
    margin-top: 2rem;
    padding: 1rem;
    width: 100%;
}

/* WHY US SECTION */
.why-us-section{
    background-color: hsl(179, 62%, 47%);
}

.why-us-section__list{
    list-style: none;
    margin-top: 1.5rem;
    width: 70%;
}

.why-us-section__list-item{
    margin-bottom: 5px;
    line-height: 1.3;
}


@media (min-width: 44rem){
    main{
        display: grid;
        grid-template-rows: 45% 55%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "join join"
                             "sub us";
        max-width: 900px;
    }
    .join-section{
        grid-area: join;
        padding: 3.5rem 3rem 2.5rem 3rem;
    }

    .join-section__main-heading{
       font-size: 2rem;
    }

    .join-section__p--highlighted{
        font-size: 1.4rem;
    }
    
    .join-section__p{
        line-height: 1.5;
        font-size: 1.4rem;
    }

    .subscription-section,
    .why-us-section{
        padding: 3.5rem 3rem 3rem 3rem;
    }

    .subscription-section{
        grid-area: sub;
    }
    .subscription-section__pricing--big{
        font-size: 2.5rem;
    }
    .subscription-section p{
        font-size: 1.4rem;
    }

    .subscription-section__cta{
        padding: 1.2rem;
        width: 97%;
        font-size: 1.2rem;
    }


    .subscription-section__cta:hover{
        opacity: 0.6;
    }

    .why-us-section{
        grid-area: us;
    }
    
    .why-us-section__list{
        font-size: 1rem;
        width: 13.1rem;
    }
}