*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*##################
## GENERAL RULES  ##
###################*/

body{
    background: hsl(204, 43%, 93%);
    padding: 18% 8%;
    font-family: "karla";
}

section{
    padding: 8%;
}

h1{
    font-size: 1.2rem;
}

/*#################
## JOIN SECTION  ##
###################*/

.join-section{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #ffffff;
    font-size: 0.87rem;
    padding-bottom: 10%;
}

.join-section__main-heading{
    color: hsl(179, 62%, 43%);
}

.join-section__p--highlighted{
    color: hsl(71, 73%, 54%);
    font-size: 1rem;
    font-weight: 700;
    margin: 10% 0 8% 0;
}

.join-section__p{
    color: hsl(218, 22%, 67%);
    line-height: 2;
}

/*#########################
## SUBSCRIPTION SECTION  ##
##########################*/

.subscription-section{
    background: hsl(179, 62%, 43%);
    color: #ffffff;
}

.subscription-section__pricing{
    padding: 6% 0 4% 0;
}

.subscription-section__pricing--big{
    font-size: 2rem;
    font-weight: 700;
    margin-right: 14px;
}

.subscription-section__pricing--light{
    opacity: 0.8;
}

.subscription-section__cta{
    background: hsl(71, 73%, 54%);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-family: "Karla";
    font-size: 0.95rem;
    font-weight: 700;
    padding: 0.9rem;
    margin-top: 12%;
    width: 100%;
    cursor: pointer;
}


.subscription-section__cta:hover{
    opacity: 0.7;
}

/*###################
## WHY US SECTION  ##
####################*/

.why-us-section{
    background: hsl(179, 62%, 48%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #ffffff;
}

.why-us-section__list{
    list-style: none;
    margin-top: 8%;
    font-size: 0.9rem;
    line-height: 1.5;
}

.why-us-section__list-item{
    width: 72%;
    
}

/*##########
## FOOTER ##
###########*/

footer{
    margin-top: 5rem;
}
.attribution { font-size: 14px; text-align: center; }
.attribution a { color: hsl(0, 45%, 70%); }


/*#################
## MEDIA QUERIES ##
##################*/

@media (min-width: 37rem){
    main{
        display: grid;
        grid-template-rows: 47% 53%;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "join join"
                              "sub us";
    }

    section{
        padding: 2.5rem;
    }

    h1{
        font-size: 1.4rem;
    }


    
    .subscription-section,
    .join-section{
        font-size: 1.2rem;
    } 

    .join-section{
        /* font-size: 1rem; */
        padding-bottom: 8%;
        grid-area: join;
    }

    .join-section__p--highlighted{
        margin: 5% 0 4% 0;
    }

    .join-section__p{
        line-height: 1.5;
    }


    .subscription-section{
        grid-area: sub;
        border-bottom-left-radius: 8px;
    }

    .why-us-section{
        border-bottom-left-radius: 0;
        grid-area: us;
    }

    .why-us-section__list-item{
        width: 11.8rem;
    }


    footer{
        margin-top: 2.5rem;
    }
}

@media (min-width: 55rem){

    section{
        padding: 3rem;
    }

    h1{
        font-size: 1.7rem;
    }

    .join-section__p--highlighted{
        font-size: 1.4rem;
    }

    .subscription-section__cta{
        font-size: 1.2rem;
    }

    .why-us-section__list-item{
        font-size: 1rem;
        width: 13.2rem;
    }

}

@media (min-width: 62rem){
    body{
        padding: 10% 4%; 
    }
    main{
        max-width: 1000px;
        margin: 0 auto;
    }

    section{
        padding: 4rem;
    }

    h1{
        font-size: 2rem;
    }

    .subscription-section,
    .join-section{
        font-size: 1.5rem;
    }
    
    .join-section{
        padding-bottom: 6%;
    }
    .join-section__p--highlighted{
        margin: 5% 0 2% 0;
    }

    .subscription-section__pricing--big{
        font-size: 2.5rem;
    }

    .subscription-section__cta{
        padding: 1.1rem;
    }

    .why-us-section__list-item{
        font-size: 1.1rem;
        width: 14.4rem;
    }
}
